@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.quiz-container{
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #525255;
  overflow: hidden;
  width: 600px;
  max-width: 100%;
}

.quiz-header{
  padding: 4rem;
}

ul{
  list-style-type: none;
  padding: 0;
}

ul li{
  margin: 1rem 0;
  font-size: 1.2rem;
}

h2{
  margin: 0;
  text-align: center;
}

button{
  background-color: #74b9ff;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  width: 100%;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover{
  background-color: #57a7f7;
  font-size: 1.7rem;
  text-decoration: underline;
}

button:focus {
  background-color: #2288ee;
  outline: none;
}